*.images.txt
*.map
*.pyc
*.png
*.wav
*.map
*.gam
*.msk
*.pro
*.int 
*.acm
*.msk
*.blm
*.frm
*.fr*
*.lip
*.npy
*.txt

data/
proto/
audio/
/audiotest
.DS_Store
xcuserdata
contents.xcworkspacedata
node_modules
js/
lut/elevators.json
acm2wav.exe



